body {
	font-family: "adelle";
	color: #fff;
	-webkit-backface-visibility: hidden;
}
.masthead {
	background: #303d4a;
	width: 100%;
	padding: 40px 0;
	text-align: center;
}
.social {
	font-family: "proxima-nova";
	text-transform: uppercase;
}
a.twitter {
	margin-right: 30px;
}

.work {
	background: #fff;
	width: 100%;
	color: #333;
	padding: 40px 0;
	text-align: center;
}
.work img {
	max-width: 100%;
	margin-bottom: 80px;
	border-radius: 6px;
}
.small {
	max-width: 380px;
}
.left {
	float: left;
	margin-right: 20px;
}
.right {
	float: right;
}
.bordered {
	border:2px solid #ccc;
}
a img {
	color: transparent !important;
}

h1 {
	font-size: 1.3em;
	color: #6DD998;
	margin-top: 20px;
}
h2 {
	font-size: 1.3em;
}
h1, h2 {
	font-family: "proxima-nova";
	text-transform: uppercase;
}

a {
	color: #FFB863;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*Animations*/
.animated {
	-webkit-animation-duration: 1s;
	   -moz-animation-duration: 1s;
	     -o-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	   -moz-animation-fill-mode: both;
	     -o-animation-fill-mode: both;
	        animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInUp {
	0% {
		opacity: 0;
		-o-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-moz-keyframes fadeInDown {
	0% {
		opacity: 0;
		-moz-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
	}
}

@-o-keyframes fadeInDown {
	0% {
		opacity: 0;
		-o-transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		-o-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	-moz-animation-name: fadeInDown;
	-o-animation-name: fadeInDown;
	animation-name: fadeInDown;
}
/*Smaller Screens*/
@media screen and (max-width: 840px) {
	.left, .right {
		float: none;
		margin: 0 auto;
	}
	
}
