body {
	font-family: "adelle";
	background: #303d4a;
	color: #fff;
}
h1 {
	font-size: 1.3em;
	color: #6DD998;
}
h1, h2 {
	font-family: "proxima-nova";
	text-transform: uppercase;
}
.container {
	text-align: center;
}
a {
	color: #6DD998;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}